doctype html 
html(lang="ja")
    head 
        meta(charset="utf-8")
        meta(name="robots" content="noindex,nofollow")
        title lontern 
        link(rel="stylesheet" href="/css/stylesheet.css")
        link(rel="icon" href="/images/favicon.png")
        link(rel="apple-touch-icon" href="/images/favicon.png")
    body 
        mixin itemSet(item, setting)
            if item == 'パスワード'
                if setting == null || setting == ""
                    a なし
                else 
                    a あり
            else if item == '観戦' || item == '匿名' || item == '秘話'
                if setting == 0
                    img(src="/images/batu.png" width="10px")
                else 
                    a  ◯
            else 

        //- テーブルに値をセットする関数
        mixin tableset(status)
            tr 
                th(class="session_name") セッション名
                th(class="session_system") システム
                th(class="session_GM") GM
                th(class="session_pass") PASS 
                th(class="session_audience") 観戦 
                th(class="session_anonymous") 匿名
                th(class="session_secret") 秘話 
            each room in rooms 
                - var i = 0;
                if room.status == status 
                    tr
                        td 
                            a(href="/sessionIndex?sessionname=" + room.name) #{room.name}
                        td 
                            a #{room.system}
                        td 
                            a #{room.Owner}
                        td(class="ce")
                            +itemSet('パスワード', room.pass)
                        td(class="ce")  
                            +itemSet('観戦', room.audience)
                        td(class="ce") 
                            +itemSet('匿名', room.anonymous)
                        td(class="ce")
                            +itemSet('秘話', room.secret)
                            
                                    
        
        div(class="index_main")
            div(class="title_logo")
                img(src="/images/lontern_logo.png" widtj="400px" height="115.36px")
            div(class="menu")
                div(class="newSession")
                    button(onclick="location.href='/sessionCreate'") 新規セッション
                div(class="user")
                    a(href="/mypage") #{members.name}
                    button(onclick="location.href='/logout'") ログアウト
            div(class="band")
                a 募集中
            table(class="session_list")
                +tableset('募集中')
            div(class="band")
                a 進行中
            table(class="session_list")
                +tableset('進行中')
            div(class="band")
                a 終了
            table(class="session_list")
                +tableset('終了')
            div(class="upbtn")
                button(onclick="location.href='/index'") 上部に戻る
            

                    




        