<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lontern</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="say_preview_main">
        <div class="header">お人形遊び</div>
        <div class="preview">
            <img src="image/icon.png" width="110" height="120">
            <div><div class="speech_data">
                1. 名前 
                <a class="date">2022/01/03 18:29:55</a>
            </div>
            <div class="speech">
                メロスは激怒した。<br>
                必ず、かの邪智暴虐の王を除かなければならぬと決意した。<br>
                メロスには政治がわからぬ。メロスは、村の牧人である。笛を吹き、羊と遊んで暮して来た。<br>
                けれども邪悪に対しては、人一倍に敏感であった。
            </div>
            <div class="say_btn">
                <form><input class="say_submit" type="submit" formaction="session.html" value="発言"></form>
            </div>
        </div>
        </div>
        
    </div>
</body>
</html>