<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lontern</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="sessionIndex_main">
        <div class="header">
            お人形遊び
        </div>
        <table>
            <colgroup>
                <col width="100">
                <col width="30">
            </colgroup>
            <tr>
                <td>セッション名</td>
                <td>:</td>
                <td>お人形遊び</td>
            </tr>
            <tr>
                <td>主催者</td>
                <td>:</td>
                <td>sano</td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td>:</td>
                <td>なし</td>
            </tr>
            <tr>
                <td>参加人数</td>
                <td>:</td>
                <td>4人</td>
            </tr>
            <tr>
                <td>観戦</td>
                <td>:</td>
                <td>許可</td>
            </tr>
            <tr>
                <td>匿名発言</td>
                <td>:</td>
                <td>有効</td>
            </tr>
            <tr>
                <td>秘話発言</td>
                <td>:</td>
                <td>有効</td>
            </tr>
        </table>
        <div class="overview">
            <a>セッション概要</a>
            <div class="overview_main">
                インセイン お人形遊び<br>
                <br>
                ここは、ぼくとにんぎょうたちの、たのしくて、へいわで、しあわせな、らくえん。<br>
                <br>
                レギュレーション<br>
                シナリオタイプ:特殊型<br>
                セッティング:暗黒のヴィクトリア<br>
                PL人数:4人<br>
                リミット:2<br>
                使用ルールブック「インセイン」「インセイン2デッドループ」<br>
                <br>
                トレーラー<br>
                貴方達は、PC1のお屋敷で、仲良く皆で暮らしている。<br>
                PC2,PC3,PC4は、PC1によって作られた動く人形(ドール)だ。<br>
                時には喧嘩もするかもしれない。でもすぐに仲直りする。だってドール達は主人が大好きで、主人もドール達を愛しているんだから。<br>
                ああ、なんて幸せな生活！<br>
                「本当に？」<br>
                <br>
                ＊オリジナルシナリオ<br>
                ＊胸糞注意<br>
                ＊オリシのため矛盾点やバランス崩壊が起こる可能性があります。<br>
                ＊エモい展開が好きな人向け<br>
            </div>
        </div>
        <div class="apply">
            <div class="apply_contents">
                <div class="icon">
                    <img src="image/icon.png" width="145" height="150">
                    <input class="uploadbtn" type="button" value="画像を選択">
                </div>
                <form class="inputinfo">
                    <div>名前:</div>
                    <input name="name" size="22">
                    <div>自己紹介(任意):</div>
                    <textarea name="introduction" rows="4" cols="24"></textarea>
                    <div>
                        <input type="checkbox" name="kansen">
                        観戦
                    </div>
                    <div class="center"><input class="applybtn" type="submit" formaction="session.html" value="参加する"></div>
                </form>
            </div>
        </div>
        <div class="topbtn">
            <button onclick="location.href='index.html'">TOPに戻る</button>
        </div>
    </div>
</body>
</html>