
$mb:767px;
@mixin mobile{
    @media screen and (max-width: $mb){
        @content;
    }
}

@mixin main_set{
    height: 100%;
    min-height: 100%;
    width:1000px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: $basecolor;
    text-align: center;
    color: $subcolor;
    @include mobile{
        width:100%;
    }
}

@mixin btn{
    background-color: $pointcolor;
    border:none;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px $subcolor;
    padding: 2px 5px;
    color: $subcolor;
    &:active {
        box-shadow: none;
        position: relative;
        top: 0.5px;
    }
}

@mixin header{
    background-color: $subcolor;
    color: $pointcolor;
    padding: 5px 20px;
    position: fixed;
    top:0px;
    width: 960px;
    margin: 0 auto;
    z-index: 1000;
    @include mobile{
        width: 100%;
        padding: 5px 5px;
    }
    a{
        @include mobile{
            text-align: right;
            padding-right: 25px;
        }
    }
    .pagetitle{
        text-align: left;
        float: left;
        @include mobile{
            margin-right: 5px;
        }
    }
    .topbtn{
        text-align: right;           
    }
}

@mixin bubble{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: left;
}

@mixin bubble_before{
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    border: 7px solid transparent;
    border-right: 15px solid #FFFFFF;
}