@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

.index_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  min-height: 100%;
}

.index_main .title_logo {
  text-align: left;
  margin-left: 50px;
  top: 0px;
}

.index_main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.index_main .menu .newSession {
  display: inline-block;
}

.index_main .menu .newSession button {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  margin-left: 10px;
}

.index_main .menu .newSession button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.index_main .menu .user {
  display: inline-block;
  color: #3e3a3a;
  margin-right: 10px;
  margin-bottom: 5px;
}

.index_main .menu .user button {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  margin-left: 5px;
}

.index_main .menu .user button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.index_main .band {
  text-align: left;
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 3px 20px;
}

.index_main .session_list {
  border: inset 1px #ced7dc;
  width: 1000px;
  text-align: left;
  border-collapse: collapse;
  font-size: 14px;
}

.index_main .session_list th {
  border: solid 1px #ced7dc;
  padding: 3px 10px;
  background-color: #ced7dc;
}

.index_main .session_list th.session_name {
  width: 300px;
}

.index_main .session_list th.session_num {
  width: 50px;
}

.index_main .session_list th.session_system {
  width: 100px;
}

.index_main .session_list td {
  border: solid 1px #ced7dc;
  padding: 3px 10px;
}

.index_main .upbtn {
  padding-top: 100px;
  padding-bottom: 40px;
}

.index_main .upbtn button {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.index_main .upbtn button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.login_main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login_main .login_logo {
  margin: 0px;
}

.login_main .login_space {
  background-color: #e6e5ef;
  width: 200px;
  margin-left: 46%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 30px;
  border-radius: 20px;
  color: #3e3a3a;
}

.login_main .login_space input {
  margin-bottom: 30px;
  border-color: #ced7dc;
  border-radius: 2px;
}

.login_main .login_space .login_btn_space {
  text-align: center;
}

.login_main .login_space .login_btn_space .login_btn {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  margin-top: 0px;
  margin-bottom: 0px;
}

.login_main .login_space .login_btn_space .login_btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionIndex_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
}

.sessionIndex_main .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

.sessionIndex_main .header .pagetitle {
  text-align: left;
  float: left;
}

.sessionIndex_main .header .topbtn {
  text-align: right;
}

.sessionIndex_main table {
  margin-top: 30px;
  margin-left: 50px;
  text-align: left;
  padding-top: 30px;
}

.sessionIndex_main .overview {
  text-align: left;
  margin: 20px 50px;
}

.sessionIndex_main .overview a {
  margin-left: 20px;
  margin-bottom: 5px;
}

.sessionIndex_main .overview .overview_main {
  padding: 10px;
  border: 1px solid #3E3A3A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  white-space: pre-wrap;
}

.sessionIndex_main .sessionbtn {
  margin-bottom: 5px;
}

.sessionIndex_main .sessionbtn a {
  background-color: #ced7dc;
  border: 1px solid #a7afb3;
  border-radius: 5px 5px 0px 0px;
  padding: 2px 14px;
  color: #3e3a3a;
  text-decoration: none;
  -webkit-box-shadow: 0.5px 0px 1px #3e3a3a;
          box-shadow: 0.5px 0px 1px #3e3a3a;
}

.sessionIndex_main .sessionbtn a:hover {
  background-color: #a7afb3;
}

.sessionIndex_main .sessionbtn a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionIndex_main .sessionbtn2 {
  margin-bottom: 5px;
}

.sessionIndex_main .sessionbtn2 a {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  text-decoration: none;
}

.sessionIndex_main .sessionbtn2 a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionIndex_main .editor {
  padding-bottom: 30px;
}

.sessionIndex_main .editor a {
  background-color: #ced7dc;
  border: 1px solid #a7afb3;
  border-radius: 0px 0px 5px 5px;
  padding: 2px 70px;
  color: #3e3a3a;
  text-decoration: none;
  -webkit-box-shadow: 0.5px 0.5px 1px #3e3a3a;
          box-shadow: 0.5px 0.5px 1px #3e3a3a;
}

.sessionIndex_main .editor a:hover {
  background-color: #a7afb3;
}

.sessionIndex_main .editor a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionIndex_main .apply {
  padding-bottom: 30px;
}

.sessionIndex_main .apply_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 300px 0px;
  padding: 15px 30px;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  text-align: left;
}

.sessionIndex_main .apply_contents .inputinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sessionIndex_main .apply_contents .icon {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.sessionIndex_main .apply_contents .icon .preview {
  width: 150px;
  height: 150px;
}

.sessionIndex_main .apply_contents .icon .uploadbtn {
  /* inputは隠す */
}

.sessionIndex_main .apply_contents .icon .uploadbtn input {
  display: none;
}

.sessionIndex_main .apply_contents .atention {
  color: red;
  font-size: 3px;
  line-height: 0.1px;
}

.sessionIndex_main .apply_contents .kansen {
  display: none;
}

.sessionIndex_main .apply_contents .center {
  text-align: right;
}

.sessionIndex_main .apply_contents .center .applybtn {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.sessionIndex_main .apply_contents .center .applybtn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionIndex_main .apply_contents .sessionname {
  display: none;
}

.session_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
}

.session_main .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
  margin-bottom: 30px;
}

.session_main .header .pagetitle {
  text-align: left;
  float: left;
}

.session_main .header .topbtn {
  text-align: right;
}

.session_main .page {
  margin-top: 10px;
  padding-top: 30px;
  text-align: left;
  padding-left: 150px;
}

.session_main .action {
  border: 1px solid #3E3A3A;
  margin: 10px 150px;
  padding: 3px 10px;
  text-align: left;
  font-size: 80%;
}

.session_main .article {
  padding-top: 50px;
}

.session_main .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 50px;
}

.session_main .preview img {
  margin-right: 30px;
}

.session_main .preview .speech_data {
  text-align: left;
  padding-left: 10px;
}

.session_main .preview .speech_data .date {
  font-size: 8px;
  color: gray;
}

.session_main .preview .speech_nomal, .session_main .preview .speech_anonymous {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 500px;
  white-space: pre-wrap;
}

.session_main .preview .speech_nomal::before, .session_main .preview .speech_anonymous::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
}

.session_main .preview .speech_audience {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 500px;
  white-space: pre-wrap;
  color: #FFFFFF;
  background: #8b6827;
}

.session_main .preview .speech_audience::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
  border-right: 15px solid #8b6827;
}

.session_main .preview .speech_solo {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 500px;
  white-space: pre-wrap;
  background: gray;
  color: #FFFFFF;
}

.session_main .preview .speech_solo::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
  border-right: 15px solid gray;
}

.session_main .preview .speech_secret {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 500px;
  white-space: pre-wrap;
  background: #932e44;
  color: #FFFFFF;
}

.session_main .preview .speech_secret::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
  border-right: 15px solid #932e44;
}

.session_main .preview .say_btn {
  /*text-align: right;*/
  margin-top: 10px;
  margin-right: 10px;
}

.session_main .preview .say_btn .say_submit {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.session_main .preview .say_btn .say_submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.session_main .say_space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  padding-bottom: 30px;
}

.session_main .say_space img {
  margin-right: 30px;
  margin-top: 60px;
}

.session_main .say_space .say_box {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
}

.session_main .say_space .say_box:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
  top: 40%;
}

.session_main .say_space .to_sel {
  margin-left: 20px;
}

.session_main .say_space .name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.session_main .say_space textarea {
  border-radius: 5px;
  padding: 5px;
}

.session_main .say_space .say_btn {
  text-align: right;
}

.session_main .say_space .say_btn .check {
  margin-left: 15px;
}

.session_main .say_space .say_btn .say_submit {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.session_main .say_space .say_btn .say_submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.session_main .pagination {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.session_main .pagination li {
  margin: 1px;
  padding: 1px 8px;
}

.session_main .pagination li a {
  display: block;
  text-decoration: none;
  color: #3e3a3a;
  margin: 1px;
  padding: 3px;
}

.session_main .pagination li a:hover {
  color: gray;
}

.session_main .pagination .navi-active {
  background-color: #ced7dc;
  border-radius: 50%;
}

.say_preview_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  padding-bottom: 30px;
}

.say_preview_main .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

.say_preview_main .header .pagetitle {
  text-align: left;
  float: left;
}

.say_preview_main .header .topbtn {
  text-align: right;
}

.say_preview_main .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 50px;
}

.say_preview_main .preview img {
  margin-right: 30px;
}

.say_preview_main .preview .speech_data {
  text-align: left;
  padding-left: 10px;
}

.say_preview_main .preview .speech_data .date {
  font-size: 8px;
  color: gray;
}

.say_preview_main .preview .speech {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 500px;
}

.say_preview_main .preview .speech::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
}

.say_preview_main .preview .say_btn {
  /*text-align: right;*/
  margin-top: 10px;
  margin-right: 10px;
}

.say_preview_main .preview .say_btn .say_submit {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.say_preview_main .preview .say_btn .say_submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionCreateMain {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  padding-bottom: 30px;
}

.sessionCreateMain .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

.sessionCreateMain .header .pagetitle {
  text-align: left;
  float: left;
}

.sessionCreateMain .header .topbtn {
  text-align: right;
}

.sessionCreateMain form {
  padding-top: 70px;
}

.sessionCreateMain form .inputarea {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.sessionCreateMain form input[type="number"] {
  width: 40px;
}

.sessionCreateMain form input[type="radio"] {
  margin-left: 5px;
  margin-right: 10px;
}

.sessionCreateMain form .radiolabel {
  margin-right: 10px;
}

.sessionCreateMain form .item {
  margin-right: 20px;
}

.sessionCreateMain form .inputlabel {
  display: inline-block;
  text-align: left;
  width: 110px;
  margin-top: 10px;
}

.sessionCreateMain form .overviwew {
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}

.sessionCreateMain form .overviwew textarea {
  padding: 10px 5px;
}

.sessionCreateMain form .center {
  text-align: center;
  margin-top: 20px;
}

.sessionCreateMain form .center input {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.sessionCreateMain form .center input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.editorMain {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  /*tabの形状*/
  /*エリアの表示非表示と形状*/
  /*areaにis-activeというクラスがついた時の形状*/
}

.editorMain .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

.editorMain .header .pagetitle {
  text-align: left;
  float: left;
}

.editorMain .header .topbtn {
  text-align: right;
}

.editorMain .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  list-style-type: none;
}

.editorMain .tab li a {
  display: block;
  background: #a7afb3;
  margin: 0 2px;
  padding: 10px 20px;
  text-decoration: none;
  color: #3e3a3a;
  border-radius: 5px 5px 0px 0px;
}

.editorMain .tab li.active a {
  background: #ced7dc;
}

.editorMain .area {
  display: none;
  /*はじめは非表示*/
  opacity: 0;
  /*透過0*/
  background: #ced7dc;
  padding: 50px 20px;
}

.editorMain .area.is-active {
  display: block;
  /*表示*/
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  /*animation-duration: 1s;*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.editorMain .edsession .inputarea {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.editorMain .edsession input[type="number"] {
  width: 40px;
}

.editorMain .edsession input[type="radio"] {
  margin-left: 5px;
  margin-right: 10px;
}

.editorMain .edsession .radiolabel {
  margin-right: 10px;
}

.editorMain .edsession .item {
  margin-right: 20px;
}

.editorMain .edsession .inputlabel {
  display: inline-block;
  text-align: left;
  width: 110px;
  margin-top: 10px;
}

.editorMain .edsession .overviwew {
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}

.editorMain .edsession .overviwew textarea {
  padding: 10px 5px;
}

.editorMain .edsession .center {
  text-align: center;
  margin-top: 20px;
}

.editorMain .edsession .center input {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  background-color: #e6e5ef;
}

.editorMain .edsession .center input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.editorMain .apply {
  margin-top: 100px;
  padding-bottom: 30px;
  width: 1000px;
}

.editorMain .apply_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 300px 0px;
  padding: 15px 30px;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  text-align: left;
}

.editorMain .apply_contents .inputinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editorMain .apply_contents .icon {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.editorMain .apply_contents .icon .preview {
  width: 150px;
  height: 150px;
}

.editorMain .apply_contents .icon .uploadbtn {
  /* inputは隠す */
}

.editorMain .apply_contents .icon .uploadbtn input {
  display: none;
}

.editorMain .apply_contents .kansen {
  display: none;
}

.editorMain .apply_contents .center {
  text-align: right;
}

.editorMain .apply_contents .center .applybtn {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.editorMain .apply_contents .center .applybtn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.editorMain .apply_contents .sessionname {
  display: none;
}

.editorMain .npcview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.editorMain .npcview .npccontents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  text-align: left;
}

.editorMain .npcview .npccontents .icon {
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}

.editorMain .npcview .npccontents .icon h3 {
  text-align: center;
}

.editorMain .npcview .npccontents .data .intro {
  margin-top: 30px;
  width: 500px;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
}

.editorMain .npcview .npccontents .data .intro::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
}
/*# sourceMappingURL=stylesheet.css.map */