@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #e6e5ef;
  color: #3e3a3a;
  height: 100%;
  font-family: '游ゴシック', sans-serif;
}

.index_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  min-height: 100%;
}

@media screen and (max-width: 767px) {
  .index_main {
    width: 100%;
  }
}

.index_main .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .index_main .header {
    width: 100%;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 767px) {
  .index_main .header a {
    text-align: right;
    padding-right: 25px;
  }
}

.index_main .header .pagetitle {
  text-align: left;
  float: left;
}

@media screen and (max-width: 767px) {
  .index_main .header .pagetitle {
    margin-right: 5px;
  }
}

.index_main .header .topbtn {
  text-align: right;
}

.index_main .title_logo {
  text-align: left;
  margin-left: 50px;
  top: 0px;
}

@media screen and (max-width: 767px) {
  .index_main .title_logo {
    margin-left: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 767px) {
  .index_main .title_logo img {
    width: 100%;
  }
}

.index_main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.index_main .menu .newSession {
  display: inline-block;
}

.index_main .menu .newSession button {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  margin-left: 10px;
}

.index_main .menu .newSession button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

@media screen and (max-width: 767px) {
  .index_main .menu .newSession button {
    margin-bottom: 10px;
  }
}

.index_main .menu .user {
  display: inline-block;
  color: #3e3a3a;
  margin-right: 10px;
  margin-bottom: 5px;
}

.index_main .menu .user button {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  margin-left: 5px;
}

.index_main .menu .user button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.index_main .band {
  text-align: left;
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 3px 20px;
}

.index_main .session_list {
  border: inset 1px #ced7dc;
  width: 1000px;
  text-align: left;
  border-collapse: collapse;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .index_main .session_list {
    width: 100%;
    font-size: 14px;
  }
}

.index_main .session_list th {
  border: solid 1px #ced7dc;
  padding: 3px 10px;
  background-color: #ced7dc;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .index_main .session_list th {
    font-size: 14px;
  }
}

.index_main .session_list th.session_name {
  width: 35%;
}

.index_main .session_list th.session_system {
  width: 17%;
}

.index_main .session_list th.session_GM {
  width: 12%;
}

.index_main .session_list th.session_pass, .index_main .session_list th.session_secret, .index_main .session_list th.session_anonymous, .index_main .session_list th.session_audience {
  width: 9%;
}

@media screen and (max-width: 767px) {
  .index_main .session_list th.session_pass, .index_main .session_list th.session_secret, .index_main .session_list th.session_anonymous, .index_main .session_list th.session_audience {
    display: none;
  }
}

.index_main .session_list td {
  border: solid 1px #ced7dc;
  padding: 3px 10px;
}

.index_main .session_list td.ce {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .index_main .session_list td.ce {
    display: none;
  }
}

.index_main .upbtn {
  padding-top: 100px;
  padding-bottom: 40px;
}

.index_main .upbtn button {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.index_main .upbtn button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.login_main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login_main .login_logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.login_main .login_space {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6e5ef;
  width: 200px;
  padding: 30px;
  border-radius: 20px;
  color: #3e3a3a;
}

.login_main .login_space input {
  margin-bottom: 30px;
  border-color: #ced7dc;
  border-radius: 2px;
}

.login_main .login_space .login_btn_space {
  text-align: center;
}

.login_main .login_space .login_btn_space .login_btn {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  margin-top: 0px;
  margin-bottom: 0px;
}

.login_main .login_space .login_btn_space .login_btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.login_main .new {
  text-align: center;
}

.sessionIndex_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sessionIndex_main {
    font-size: 12pt;
  }
}

.sessionIndex_main .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main .header {
    width: 100%;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 767px) {
  .sessionIndex_main .header a {
    text-align: right;
    padding-right: 25px;
  }
}

.sessionIndex_main .header .pagetitle {
  text-align: left;
  float: left;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main .header .pagetitle {
    margin-right: 5px;
  }
}

.sessionIndex_main .header .topbtn {
  text-align: right;
}

.sessionIndex_main table {
  margin-left: 50px;
  text-align: left;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main table {
    margin-left: 10px;
    font-size: 12px;
  }
}

.sessionIndex_main .overview {
  text-align: left;
  margin: 20px 50px;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main .overview {
    margin: 20px 10px;
  }
}

.sessionIndex_main .overview a {
  margin-left: 20px;
  margin-bottom: 5px;
}

.sessionIndex_main .overview .overview_main {
  padding: 10px;
  border: 1px solid #3E3A3A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  white-space: pre-wrap;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main .overview .overview_main {
    font-size: 12px;
  }
}

.sessionIndex_main .sessionbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  margin: 0 auto;
}

.sessionIndex_main .sessionbtn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background: #3e3a3a;
  border: 1px solid #3e3a3a;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #e6e5ef;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin-bottom: 10px;
}

.sessionIndex_main .sessionbtn a:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #e6e5ef;
  border-right: 2px solid #e6e5ef;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}

.sessionIndex_main .sessionbtn a:hover {
  background: #e6e5ef;
  color: #3e3a3a;
}

.sessionIndex_main .sessionbtn a:hover:before {
  border-top: 2px solid #3e3a3a;
  border-right: 2px solid #3e3a3a;
}

.sessionIndex_main .editor {
  padding-bottom: 30px;
}

.sessionIndex_main .editor a {
  background-color: #ced7dc;
  border: 1px solid #a7afb3;
  border-radius: 0px 0px 5px 5px;
  padding: 2px 70px;
  color: #3e3a3a;
  text-decoration: none;
  -webkit-box-shadow: 0.5px 0.5px 1px #3e3a3a;
          box-shadow: 0.5px 0.5px 1px #3e3a3a;
}

.sessionIndex_main .editor a:hover {
  background-color: #a7afb3;
}

.sessionIndex_main .editor a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionIndex_main .apply {
  padding-bottom: 30px;
}

.sessionIndex_main .apply_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 300px 0px;
  padding: 15px 30px;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main .apply_contents {
    margin: 10px 10px 0px;
  }
}

.sessionIndex_main .apply_contents .inputinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sessionIndex_main .apply_contents .icon {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main .apply_contents .icon {
    margin-right: 10px;
    margin-top: 10px;
  }
}

.sessionIndex_main .apply_contents .icon .preview {
  width: 150px;
  height: 150px;
}

.sessionIndex_main .apply_contents .icon .uploadbtn {
  /* inputは隠す */
}

.sessionIndex_main .apply_contents .icon .uploadbtn input {
  display: none;
}

.sessionIndex_main .apply_contents .atention {
  color: red;
  font-size: 3px;
  line-height: 0.1px;
}

.sessionIndex_main .apply_contents .kansen {
  display: none;
}

.sessionIndex_main .apply_contents .center {
  text-align: right;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .sessionIndex_main .apply_contents .center {
    margin-top: 1px;
  }
}

.sessionIndex_main .apply_contents .center .applybtn {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.sessionIndex_main .apply_contents .center .applybtn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionIndex_main .apply_contents .sessionname {
  display: none;
}

.sessionIndex_main .apply_contents .roompass {
  display: none;
}

.session_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
}

@media screen and (max-width: 767px) {
  .session_main {
    width: 100%;
  }
}

.session_main .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .session_main .header {
    width: 100%;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 767px) {
  .session_main .header a {
    text-align: right;
    padding-right: 25px;
  }
}

.session_main .header .pagetitle {
  text-align: left;
  float: left;
}

@media screen and (max-width: 767px) {
  .session_main .header .pagetitle {
    margin-right: 5px;
  }
}

.session_main .header .topbtn {
  text-align: right;
}

.session_main .page {
  padding-top: 10px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .session_main .page {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.session_main .action {
  border: 1px solid #3E3A3A;
  margin: 10px 150px;
  padding: 3px 10px;
  text-align: left;
  font-size: 80%;
}

.session_main .action .date {
  font-size: 8px;
  color: gray;
}

@media screen and (max-width: 767px) {
  .session_main .action {
    margin: 5px;
  }
}

.session_main .GMaction {
  margin: 10px 150px;
  padding: 15px 15px;
  text-align: left;
  background-color: #ced7dc;
  border-radius: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.session_main .GMaction .date {
  font-size: 8px;
  color: gray;
}

@media screen and (max-width: 767px) {
  .session_main .GMaction {
    margin: 15px;
  }
}

.session_main .article {
  padding-top: 30px;
}

.session_main .article .undisp {
  display: none;
}

.session_main .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .session_main .preview {
    margin-top: 5px;
    margin-right: 0px;
  }
}

.session_main .preview img {
  margin-right: 20px;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .session_main .preview img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    margin-top: 25px;
  }
}

.session_main .preview .speech_data {
  text-align: left;
  padding-left: 10px;
}

.session_main .preview .speech_data .date {
  font-size: 8px;
  color: gray;
}

@media screen and (max-width: 767px) {
  .session_main .preview .speech_data {
    margin-right: 10px;
  }
}

.session_main .preview .speech_data .speech {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 500px;
  white-space: pre-wrap;
  word-break: break-all;
}

.session_main .preview .speech_data .speech::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
}

@media screen and (max-width: 767px) {
  .session_main .preview .speech_data .speech {
    max-width: 250px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.session_main .preview .speech_data .GM {
  background-color: #5996be;
  color: white;
}

.session_main .preview .speech_data .GM::before {
  border-right: 15px solid #5996be;
}

.session_main .preview .speech_data .audience {
  color: #FFFFFF;
  background: #8b6827;
}

.session_main .preview .speech_data .audience::before {
  border-right: 15px solid #8b6827;
}

.session_main .preview .speech_data .solo {
  background: gray;
  color: #FFFFFF;
}

.session_main .preview .speech_data .solo::before {
  border-right: 15px solid gray;
}

.session_main .preview .speech_data .secret {
  background: #932e44;
  color: #FFFFFF;
}

.session_main .preview .speech_data .secret::before {
  border-right: 15px solid #932e44;
}

.session_main .preview .say_btn {
  /*text-align: right;*/
  margin-top: 10px;
  margin-right: 10px;
}

.session_main .preview .say_btn .say_submit {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.session_main .preview .say_btn .say_submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.session_main .ressdips {
  background-color: #e6e5ef;
  padding: 10px;
  border-radius: 5px;
}

.session_main .sessionbigin {
  margin-top: 60px;
}

.session_main .sessionbigin button {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  font-weight: 600;
  padding: 10px 20px;
}

.session_main .sessionbigin button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.session_main .sessionbigin button.hidden {
  display: none;
}

.session_main .say_space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.session_main .say_space ul {
  list-style-type: none;
}

.session_main .say_space ul li:nth-of-type(n+2) {
  display: none;
}

.session_main .say_space img {
  margin-right: 30px;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .session_main .say_space img {
    display: none;
  }
}

.session_main .say_space .say_box {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .session_main .say_space .say_box {
    padding: 20px 10px;
    margin: 10px;
  }
}

.session_main .say_space .say_box:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
  top: 40%;
}

@media screen and (max-width: 767px) {
  .session_main .say_space .say_box:before {
    display: none;
  }
}

.session_main .say_space .to_sel {
  margin-left: 20px;
}

.session_main .say_space .name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.session_main .say_space .name select {
  border: none;
  font-size: 15pt;
  margin-bottom: 5px;
  font-weight: 600;
}

.session_main .say_space .sayarea {
  text-align: center;
}

.session_main .say_space .sayarea textarea {
  border-radius: 5px;
  padding: 5px;
  max-width: 95%;
}

.session_main .say_space .say_btn {
  text-align: right;
}

.session_main .say_space .say_btn .check {
  margin-left: 15px;
}

.session_main .say_space .say_btn .say_submit {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.session_main .say_space .say_btn .say_submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.session_main .pagination {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.session_main .pagination li {
  margin: 1px;
  padding: 1px 8px;
}

.session_main .pagination li a {
  display: block;
  text-decoration: none;
  color: #3e3a3a;
  margin: 1px;
  padding: 3px;
}

.session_main .pagination li a:hover {
  color: gray;
}

.session_main .pagination .navi-active {
  background-color: #ced7dc;
  border-radius: 50%;
}

.session_main #glayLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.60;
  filter: alpha(opacity=60);
}

.session_main #overLayer {
  display: none;
  position: fixed;
  top: 5%;
  left: 50%;
  margin-left: -325px;
  background-color: #e6e5ef;
  padding: 10px;
  border-radius: 3px;
  z-index: 2000;
}

@media screen and (max-width: 767px) {
  .session_main #overLayer {
    top: 5%;
    left: 0%;
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.session_main #overLayer img.close {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.say_preview_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .say_preview_main {
    width: 100%;
  }
}

.say_preview_main .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .say_preview_main .header {
    width: 100%;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 767px) {
  .say_preview_main .header a {
    text-align: right;
    padding-right: 25px;
  }
}

.say_preview_main .header .pagetitle {
  text-align: left;
  float: left;
}

@media screen and (max-width: 767px) {
  .say_preview_main .header .pagetitle {
    margin-right: 5px;
  }
}

.say_preview_main .header .topbtn {
  text-align: right;
}

.say_preview_main .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 50px;
}

.say_preview_main .preview img {
  margin-right: 30px;
}

.say_preview_main .preview .speech_data {
  text-align: left;
  padding-left: 10px;
}

.say_preview_main .preview .speech_data .date {
  font-size: 8px;
  color: gray;
}

.say_preview_main .preview .speech {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  width: 500px;
}

.say_preview_main .preview .speech::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
}

.say_preview_main .preview .say_btn {
  /*text-align: right;*/
  margin-top: 10px;
  margin-right: 10px;
}

.say_preview_main .preview .say_btn .say_submit {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.say_preview_main .preview .say_btn .say_submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.sessionCreateMain {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .sessionCreateMain {
    width: 100%;
  }
}

.sessionCreateMain .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .sessionCreateMain .header {
    width: 100%;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 767px) {
  .sessionCreateMain .header a {
    text-align: right;
    padding-right: 25px;
  }
}

.sessionCreateMain .header .pagetitle {
  text-align: left;
  float: left;
}

@media screen and (max-width: 767px) {
  .sessionCreateMain .header .pagetitle {
    margin-right: 5px;
  }
}

.sessionCreateMain .header .topbtn {
  text-align: right;
}

.sessionCreateMain form {
  padding-top: 70px;
}

.sessionCreateMain form .inputarea {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.sessionCreateMain form input[type="number"] {
  width: 40px;
}

.sessionCreateMain form input[type="radio"] {
  margin-left: 5px;
  margin-right: 10px;
}

.sessionCreateMain form .radiolabel {
  margin-right: 10px;
}

.sessionCreateMain form .item {
  margin-right: 20px;
}

.sessionCreateMain form .inputlabel {
  display: inline-block;
  text-align: left;
  width: 110px;
  margin-top: 10px;
}

.sessionCreateMain form .overviwew {
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}

.sessionCreateMain form .overviwew textarea {
  padding: 10px 5px;
}

.sessionCreateMain form .center {
  text-align: center;
  margin-top: 20px;
}

.sessionCreateMain form .center input {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.sessionCreateMain form .center input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.editorMain {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  /*tabの形状*/
  /*エリアの表示非表示と形状*/
  /*areaにis-activeというクラスがついた時の形状*/
}

@media screen and (max-width: 767px) {
  .editorMain {
    width: 100%;
  }
}

.editorMain .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .editorMain .header {
    width: 100%;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 767px) {
  .editorMain .header a {
    text-align: right;
    padding-right: 25px;
  }
}

.editorMain .header .pagetitle {
  text-align: left;
  float: left;
}

@media screen and (max-width: 767px) {
  .editorMain .header .pagetitle {
    margin-right: 5px;
  }
}

.editorMain .header .topbtn {
  text-align: right;
}

.editorMain .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  list-style-type: none;
}

.editorMain .tab li a {
  display: block;
  background: #a7afb3;
  margin: 0 2px;
  padding: 10px 20px;
  text-decoration: none;
  color: #3e3a3a;
  border-radius: 5px 5px 0px 0px;
}

.editorMain .tab li.active a {
  background: #ced7dc;
}

.editorMain .area {
  display: none;
  /*はじめは非表示*/
  opacity: 0;
  /*透過0*/
  background: #ced7dc;
  padding: 50px 20px;
}

.editorMain .area.is-active {
  display: block;
  /*表示*/
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  /*animation-duration: 1s;*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.editorMain .edsession .inputarea {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.editorMain .edsession input[type="number"] {
  width: 40px;
}

.editorMain .edsession input[type="radio"] {
  margin-left: 5px;
  margin-right: 10px;
}

.editorMain .edsession .radiolabel {
  margin-right: 10px;
}

.editorMain .edsession .item {
  margin-right: 20px;
}

.editorMain .edsession .inputlabel {
  display: inline-block;
  text-align: left;
  width: 110px;
  margin-top: 10px;
}

.editorMain .edsession .overviwew {
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}

.editorMain .edsession .overviwew textarea {
  padding: 10px 5px;
}

.editorMain .edsession .center {
  text-align: center;
  margin-top: 20px;
}

.editorMain .edsession .center input {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  background-color: #e6e5ef;
}

.editorMain .edsession .center input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.editorMain .edsession .sessionname {
  display: none;
}

.editorMain .apply {
  margin-top: 100px;
  padding-bottom: 30px;
  width: 1000px;
}

.editorMain .apply_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 300px 0px;
  padding: 15px 30px;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  text-align: left;
}

.editorMain .apply_contents .inputinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editorMain .apply_contents .icon {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.editorMain .apply_contents .icon .preview {
  width: 150px;
  height: 150px;
}

.editorMain .apply_contents .icon .uploadbtn {
  /* inputは隠す */
}

.editorMain .apply_contents .icon .uploadbtn input {
  display: none;
}

.editorMain .apply_contents .kansen {
  display: none;
}

.editorMain .apply_contents .center {
  text-align: right;
}

.editorMain .apply_contents .center .applybtn {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.editorMain .apply_contents .center .applybtn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.editorMain .apply_contents .sessionname {
  display: none;
}

.editorMain .npcview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.editorMain .npcview .npccontents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  text-align: left;
}

.editorMain .npcview .npccontents .icon {
  display: inline-block;
  margin-top: 20px;
}

.editorMain .npcview .npccontents .icon h3 {
  text-align: center;
}

.editorMain .npcview .npccontents .data .intro {
  margin-top: 30px;
  margin-left: 30px;
  width: 500px;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
}

.editorMain .npcview .npccontents .data .intro::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
}

.editorMain .sessionend {
  margin: 100px;
}

.editorMain .sessionend button {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  background-color: white;
  padding: 10px 30px;
  font-weight: 900;
  font-size: 12pt;
  border-radius: 30px;
}

.editorMain .sessionend button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.editorMain .pcview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px;
}

.editorMain .pcview .pccontents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  text-align: left;
}

.editorMain .pcview .pccontents .icon {
  display: inline-block;
  margin-right: 30px;
  margin-top: 0px;
}

.editorMain .pcview .pccontents .icon h3 {
  text-align: center;
}

.editorMain .pcview .pccontents .data .intro {
  margin-top: 30px;
  width: 500px;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
}

.editorMain .pcview .pccontents .data .intro::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
}

.editorMain .pcview .icon_edit {
  display: none;
}

.editorMain .pcview .name_edit {
  text-align: center;
  padding: 5px 1px;
}

.editorMain .pcview .intro_edit {
  border-radius: 5px;
  padding: 5px;
  margin-top: 3px;
}

.editorMain .pcview .editbtn {
  padding-top: 10px;
  text-align: right;
}

.editorMain .pcview .editbtn input {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  background-color: #e6e5ef;
}

.editorMain .pcview .editbtn input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.editorMain .pcview .sessionname {
  display: none;
}

.editorMain .pcsview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.editorMain .pcsview .pcscontents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
}

.editorMain .pcsview .pcscontents .icon {
  display: inline-block;
  margin-right: 30px;
  margin-top: 15px;
}

.editorMain .pcsview .pcscontents .icon h3 {
  text-align: center;
}

.editorMain .pcsview .pcscontents .icon .plname {
  text-align: center;
}

.editorMain .pcsview .pcscontents .data .intro {
  margin-top: 30px;
  width: 500px;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
}

.editorMain .pcsview .pcscontents .data .intro::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border: 7px solid transparent;
  border-right: 15px solid #FFFFFF;
}

.signup_main .input_space {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.signup_main h1 {
  text-align: center;
  font-family: "游ゴシック";
}

.signup_main form {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.signup_main form input {
  text-align: left;
}

.signup_main .signup_btn_space {
  text-align: center;
  margin-top: 20px;
}

.signup_main .signup_btn_space .signup_btn {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
}

.signup_main .signup_btn_space .signup_btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.maypage_main {
  height: 100%;
  min-height: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e6e5ef;
  text-align: center;
  color: #3e3a3a;
  min-height: 100%;
}

@media screen and (max-width: 767px) {
  .maypage_main {
    width: 100%;
  }
}

.maypage_main .header {
  background-color: #3e3a3a;
  color: #ced7dc;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  width: 960px;
  margin: 0 auto;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .maypage_main .header {
    width: 100%;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 767px) {
  .maypage_main .header a {
    text-align: right;
    padding-right: 25px;
  }
}

.maypage_main .header .pagetitle {
  text-align: left;
  float: left;
}

@media screen and (max-width: 767px) {
  .maypage_main .header .pagetitle {
    margin-right: 5px;
  }
}

.maypage_main .header .topbtn {
  text-align: right;
}

.maypage_main .title_logo {
  text-align: left;
  margin-left: 50px;
  top: 0px;
}

.maypage_main .session_list {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.maypage_main .session_list .band {
  text-align: left;
  color: #3e3a3a;
  padding: 3px;
  margin-top: 100px;
  font-family: "游ゴシック";
}

.maypage_main .session_list .band h3 {
  position: relative;
  padding-bottom: 1px;
  width: 300px;
  border-bottom: 3px solid #3e3a3a;
}

.maypage_main .session_list .band h3:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 70px;
  height: 3px;
  background-color: #ced7dc;
}

.maypage_main .session_list .session_table {
  border: inset 1px #ced7dc;
  text-align: left;
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .maypage_main .session_list .session_table {
    font-size: 8px;
  }
}

.maypage_main .session_list .session_table th {
  border: solid 1px #ced7dc;
  padding: 3px 10px;
  background-color: #ced7dc;
  text-align: center;
}

.maypage_main .session_list .session_table th.session_name {
  width: 35%;
}

@media screen and (max-width: 767px) {
  .maypage_main .session_list .session_table th.session_name {
    width: 35%;
  }
}

.maypage_main .session_list .session_table th.session_system {
  width: 17%;
}

@media screen and (max-width: 767px) {
  .maypage_main .session_list .session_table th.session_system {
    width: 25%;
  }
}

.maypage_main .session_list .session_table th.session_GM {
  width: 15%;
}

@media screen and (max-width: 767px) {
  .maypage_main .session_list .session_table th.session_GM {
    display: none;
    width: 10%;
  }
}

.maypage_main .session_list .session_table td {
  border: solid 1px #ced7dc;
  padding: 3px 10px;
}

@media screen and (max-width: 767px) {
  .maypage_main .session_list .session_table td.ce {
    display: none;
  }
}

.maypage_main .session_list .input_space {
  text-align: left;
  color: #3e3a3a;
  padding: 3px;
  margin-top: 10px;
  font-family: "游ゴシック";
}

.maypage_main .session_list .input_space h3 {
  position: relative;
  padding-bottom: 1px;
  width: 300px;
  border-bottom: 3px solid #3e3a3a;
}

.maypage_main .session_list .input_space h3:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 70px;
  height: 3px;
  background-color: #ced7dc;
}

.maypage_main .session_list .input_space input {
  margin-top: 10px;
}

.maypage_main .session_list .input_space .signup_btn {
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  margin-left: 10px;
}

.maypage_main .session_list .input_space .signup_btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}

.maypage_main button {
  margin-top: 50px;
  background-color: #ced7dc;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 2px #3e3a3a;
          box-shadow: 0.5px 0.5px 2px #3e3a3a;
  padding: 2px 5px;
  color: #3e3a3a;
  margin-bottom: 30px;
}

.maypage_main button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 0.5px;
}
/*# sourceMappingURL=stylesheet.css.map */